@charset "utf-8";
/* CSS Document */
body{
	background:url(../images/bg.jpg) repeat-x ;
	margin:0;
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	}
img{
	border:0;
	}
p{	margin:0;
	padding:0;
	}
#container{
	width:900px;
	min-height:400px;
	margin:auto;
	
	}
#entete{
	width: auto;
    height: 50px;
    background: #1d85aa;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    padding-top: 20px;
}
#entete a{
	background:#fff;
	width:200px;
	height:70px;
	display:block;
	text-align:center;
	float:left;
	}
#entete #entete_text{
	color:#fff;
	font-size:20px;
	}

#utilisateur{
	background: url(../images/bg_utilisateur.jpg) no-repeat;
	font-size:11px;
	float:right;
	width:140px;
	height:39px;
	padding-left:10px;
	padding-top:15px;
	margin-bottom:33px;
	}
#content{
	background:;
	width:600px;
	height:100px;
	margin:auto;
	clear:both;
}
textarea {
    width: 300px;
}
input[type="submit"] {
    background: #1d85aa;
    border: none;
    width: 100px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
label {
    width: 180px;
    margin-bottom: 20px;
    display: inline-block;
}
input[type="text"] {
    height: 20px;
}
input[type="password"] {
    margin-left: 3px;
    height: 20px;
}